<!-- <header>
  <div class="logo">
    <h1>Welcome <b>ANTLLP</b></h1>
  </div>
  <div class="admin">Admin</div>
</header> -->

<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">Welcome To <span>ANT LLP</span></a>
    <div class="">
      <ul class="navbar-nav ms-auto mb-2">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="d-inline-flex align-items-center justify-content-center flex-row">
                  <img src="../../../assets/images/avatar.png" alt="Profile Avatar" class="avatar" >
                  Admin
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
              </span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" style="cursor: pointer;">Another action</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>